<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.totalAdmin">

	<select id="getAdminInfo" resultType="TotalAdminDTO" parameterType="TotalAdminDTO">
		SELECT	SEQ 			AS seq
			 , ID				AS id
			 , NAME				AS name
			 , AUTH_CODE		AS authCode
			 , MEMBER_TYPE		AS memberType
			 , MEMBER_STATUS	AS memberStatus
			 , USE_YN			AS useYn
		FROM	itkey_dev.member
		WHERE 	ID = #{id}
		  AND	PASSWORD = #{password}
		  AND	USE_YN = 'Y'
	</select>

	<!-- gnb메뉴 리스트 -->
	<select id="getGnbMenuListAjax" resultType="commonDTO">
		/*fn : gnb메뉴 리스트 - getGnbMenuList */
		SELECT A.MENU_SEQ AS menuSeq
			 , A.MENU_CODE AS menuCode
			 , A.MENU_SITE AS menuSite
			 , A.MENU_NAME AS menuName
			 , A.MENU_PARENT_CODE AS menuParentCode
			 , A.MENU_LEVEL AS menuLevel
			 , A.MENU_ORDER AS menuOrder
			 , A.MENU_USE_YN AS menuUseYn
			 , A.MENU_TYPE AS menuType
			 , A.MENU_URL AS menuUrl
			 , A.MENU_CONN_WAY AS menuConnWay
			 , A.MENU_DESC AS menuDesc
		FROM	MENU A
		WHERE	A.MENU_LEVEL = 1
		  AND 	A.MENU_SITE = 'A'
		  AND		A.MENU_USE_YN = 'Y'
		ORDER BY A.MENU_ORDER
	</select>

	<select id="selectBoardList" resultType="Board">
		SELECT
			BOARD_SEQ				AS boardSeq
			 , BOARD_TYPE			AS boardType
			 , BOARD_TITLE			AS boardTitle
			 , BOARD_CONTENT		AS boardContent
			 , BOARD_SECRET_YN		AS boardSecretYn
			 , BOARD_DEL_YN			AS boardDelYn
			 , REPLY_YN				AS replyYn
			 , REPLY_CONTENT		AS replyContent
			 , REPLY_MEMBER_ID		AS replyMemberId
			 , REPLY_DT				AS replyDt
			 , ATTCH_FILE_CNT		AS attchFileCnt
			 , INQ_CNT				AS inqCnt
			 , REG_ID				AS regId
			 , REG_NM				AS regNm
			 , REG_DT				AS regDt
			 , UPD_ID				AS updId
			 , UPD_NM				AS updNm
			 , UPD_DT				AS updDt
			 , BOARD_CATEGORY		AS boardCategory
		FROM BOARD
	</select>
</mapper>