<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.totalAdmin">

	<select id="getAdminInfo" resultType="TotalAdminDTO" parameterType="TotalAdminDTO">
		SELECT	SEQ 			AS seq
			 , ID				AS id
			 , NAME				AS name
			 , AUTH_CODE		AS authCode
			 , MEMBER_TYPE		AS memberType
			 , MEMBER_STATUS	AS memberStatus
			 , USE_YN			AS useYn
		FROM	itkey_dev.member
		WHERE 	ID = #{id}
		  AND	PASSWORD = #{password}
		  AND	USE_YN = 'Y'
	</select>

	<!-- gnb메뉴 리스트 -->
	<select id="getGnbMenuListAjax" resultType="commonDTO">
		/*fn : gnb메뉴 리스트 - getGnbMenuList */
		SELECT A.MENU_SEQ AS menuSeq
			 , A.MENU_SITE AS menuSite
			 , A.MENU_NAME AS menuName
			 , A.MENU_LEVEL AS menuLevel
			 , A.MENU_ORDER AS menuOrder
			 , A.MENU_USE_YN AS menuUseYn
			 , A.MENU_TYPE AS menuType
			 , A.MENU_URL AS menuUrl
			 , A.MENU_CONN_WAY AS menuConnWay
			 , A.MENU_DESC AS menuDesc
		FROM	MENU A
		WHERE	A.MENU_LEVEL = 1
		  AND 	A.MENU_SITE = 'A'
		  AND		A.MENU_USE_YN = 'Y'
		ORDER BY A.MENU_ORDER
	</select>

	<select id="selectBoardTypeList" resultType="Board">
		SELECT	itb.ADMIN_BOARD_NUMBER  		AS adminBoardNumber
			 ,me.MENU_NAME as menuName
			 ,itb.BOARD_TYPE as boardType
			 , count(itb.BOARD_TYPE) -1		AS boardTypeCnt
		FROM 		itkey_dev.board itb
		 left join menu me on itb.BOARD_TYPE = me.MENU_SEQ
		WHERE		itb.BOARD_DEL_YN IS NULL OR itb.BOARD_DEL_YN = 'N'
		GROUP BY 	me.MENU_NAME
		ORDER BY 	itb.ADMIN_BOARD_NUMBER asc
	</select>

	<select id="selectBoardList" resultType="Board">
		SELECT
			BOARD_SEQ				AS boardSeq
			 , BOARD_TYPE			AS boardType
			 , BOARD_TITLE			AS boardTitle
			 , BOARD_CONTENT		AS boardContent
			 , BOARD_SECRET_YN		AS boardSecretYn
			 , BOARD_DEL_YN			AS boardDelYn
			 , REPLY_YN				AS replyYn
			 , REPLY_CONTENT		AS replyContent
			 , REPLY_MEMBER_ID		AS replyMemberId
			 , REPLY_DT				AS replyDt
			 , ATTCH_FILE_CNT		AS attchFileCnt
			 , INQ_CNT				AS inqCnt
			 , REG_ID				AS regId
			 , REG_NM				AS regNm
			 , REG_DT				AS regDt
			 , UPD_ID				AS updId
			 , UPD_NM				AS updNm
			 , UPD_DT				AS updDt
			 , BOARD_CATEGORY		AS boardCategory
		FROM BOARD
	</select>

	<!-- 메뉴 리스트 -->
	<select id="getMenuListAjax" resultType="menuDTO">
		/*fn : 메뉴 리스트 - getMenuListAjax */
		SELECT A.MENU_SEQ AS menuSeq
			 , A.MENU_SITE AS menuSite
			 , A.MENU_NAME AS menuName
			 , A.MENU_PARENT_SEQ AS menuParentSeq
			 , A.MENU_LEVEL AS menuLevel
			 , A.MENU_ORDER AS menuOrder
			 , A.MENU_USE_YN AS menuUseYn
			 , A.MENU_TYPE AS menuType
			 , A.MENU_URL AS menuUrl
			 , A.MENU_CONN_WAY AS menuConnWay
			 , A.MENU_DESC AS menuDesc
			 , A.MENU_PARENT_SEQ AS menuParentSeq
			 , A.MENU_BOARD_TYPE AS menuBoardType
			 , A.REG_ID AS regId
			 , A.UPD_DT AS updDt
		FROM	MENU A
		WHERE	A.MENU_USE_YN = 'Y'
		AND		A.MENU_SITE = 'U'
		AND 	A.MENU_LEVEL = '1'
		ORDER BY A.MENU_LEVEL, A.MENU_PARENT_SEQ, A.MENU_ORDER
	</select>

	<!-- 메뉴 수 -->
	<select id="getMenuListCntAjax" resultType="int">
		/*fn : 메뉴 수 - getMenuListCntAjax */
		SELECT 	count(*)
		FROM	MENU
	</select>

	<!-- 메뉴 등록/수정 -->
	<insert id="updMenuMgmtAjax" parameterType="MenuEntity">
		/*fn : 메뉴 등록/수정 - getMenuListCntAjax */
		INSERT INTO MENU (
			MENU_SEQ,
			MENU_SITE,
			MENU_NAME,
			MENU_LEVEL,
			MENU_TYPE,
			MENU_URL,
			MENU_PARENT_SEQ,
			REG_ID,
			REG_DT,
			MENU_USE_YN,
			MENU_ORDER,
			MENU_BOARD_TYPE
		) VALUES
		<foreach collection="list" item="menu" separator=",">
			(
			#{menu.menuSeq},
			#{menu.menuSite},
			#{menu.menuName},
			#{menu.menuLevel},
			#{menu.menuType},
			#{menu.menuUrl},
			#{menu.menuParentSeq},
			'ADMIN',
			NOW(),
			#{menu.menuUseYn},
			#{menu.menuOrder},
			#{menu.menuBoardType}
			)
		</foreach>
		ON DUPLICATE KEY UPDATE
		MENU_SITE = VALUES(MENU_SITE),
		MENU_NAME = VALUES(MENU_NAME),
		MENU_LEVEL = VALUES(MENU_LEVEL),
		MENU_TYPE = VALUES(MENU_TYPE),
		MENU_URL = VALUES(MENU_URL),
		MENU_PARENT_SEQ = VALUES(MENU_PARENT_SEQ),
		MENU_USE_YN = VALUES(MENU_USE_YN),
		MENU_ORDER = VALUES(MENU_ORDER),
		MENU_BOARD_TYPE  = VALUES(MENU_BOARD_TYPE)
	</insert>

	<!-- 메뉴 삭제시, 해당 게시글 삭제처리 -->
	<update id="delBoardAjax" parameterType="java.util.List">
		UPDATE BOARD
		SET BOARD_DEL_YN = 'Y'
		WHERE BOARD_TYPE IN
		<foreach collection="list" item="menu" open="(" separator="," close=")">
			#{menu.menuBoardType}
		</foreach>
	</update>
</mapper>